body {
    background: url("../images/bg.png") no-repeat center center fixed;
    background-size: cover;
}

.login-box {
    width: 450px;
    height: 350px;
    border: 1px solid #1a312c;
    position: absolute;
    left: 60%;
    top: 40%;
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 5px;
    background-color: #ffffff;
}

.head span {
    margin: 20px 20px 20px 20px;
    float: left;
    font-size: 18px;
    display: block;
}

.register {
    margin: 20px 20px 20px 20px;
    color: #00a2ca;
    display: block;
    float: right;
    font-size: 18px;
}

.input-box {
    margin: 10px 10px 10px 10px;
}

.input-box input {
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
}

.validate-code  {
    display:block;
    height: 50px;
}

.validate-code input {
    width: 50%;
    float: left;
}
.validate-code img {
    padding-top: 20px;
    height: 48px;
    margin: -1px 16px 0 16px;
    cursor: pointer;
    vertical-align: middle;
    float: left;
}

.checkcode-update {
    padding-top: 30px;
    color: #00a2ca;
    display: block;
    float: left;
    font-size: 14px;
}

.input-box input[type="submit"] {
    background-color: #189F92;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 25px;
}

.remember-me {
    margin-top: 30px;
}

.remember-me .layui-form-switch {
    margin-top: 0;
}

.forget-password {
    margin-right: 10px;
    float: right;
    color: #cbcbcb;
    font-size: 14px;
}

.error-info {
    margin-top:50px;
    margin-bottom:-20px;
}

.error-info span {
   margin-left:-90px;
   color:rgb(255, 0, 0);
}
.input-box .oauth {
    margin-top: 20px;
}

.input-box .oauth i {
    cursor: pointer;
    font-size: 28px;
}

.copyright {
    margin: 10px 10px 10px 10px;
    font-size: 12px;
}